Repository LostArtefacts/TR-Rando, pull requests merged in 2023-10, with the labels that each got.

#558 TowandAA's secret pack
  TRRandomizerCore/Resources/Shared/randomizer.json
  TRRandomizerCore/Resources/TR2/Locations/locations.json
Labels: enhancement, TR2

#559 Add TR2 secret pack
  TRRandomizerCore/Resources/TR2/Locations/locations.json
Labels: enhancement, TR2

#560 Spelling mistake in FR
  TRRandomizerCore/Resources/TR1/Strings/G11N/gamestrings_FR.json
Labels: TR1

#561 Update README
  README.md
  Resources/randomizerlogo.png
  USING.md
Labels: documentation

#562 Update documentation
  .github/pull_request_template.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Labels: documentation

#566 Improve location generation
  CHANGELOG.md
  LocationExport/Program.cs
  TREnvironmentEditor/Model/Types/Triggers/EMAppendTriggerActionFunction.cs
  TRFDControl/Utilities/FDUtilities.cs
  TRLevelControl/Helpers/TR1TypeUtilities.cs
  TRLevelControl/Helpers/TR2TypeUtilities.cs
  TRLevelControl/Helpers/TR3TypeUtilities.cs
  TRLevelControl/Helpers/TRConsts.cs
  TRRandomizerCore/Randomizers/Shared/LocationPicker.cs
  TRRandomizerCore/Randomizers/TR1/TR1ItemRandomizer.cs
  TRRandomizerCore/Randomizers/TR2/TR2ItemRandomizer.cs
  TRRandomizerCore/Randomizers/TR3/TR3ItemRandomizer.cs
  TRRandomizerCore/Resources/TR1/Locations/invalid_item_locations.json
  TRRandomizerCore/Resources/TR2/Environment/HOUSE.TR2-Environment.json
  TRRandomizerCore/Resources/TR2/Locations/invalid_item_locations.json
  TRRandomizerCore/Resources/TR2/Locations/item_locations.json
  TRRandomizerCore/Resources/TR3/Locations/invalid_item_locations.json
  TRRandomizerCore/Utilities/Locations/AbstractLocationGenerator.cs
  TRRandomizerCore/Utilities/Locations/TR1LocationGenerator.cs
  TRRandomizerCore/Utilities/Locations/TR2LocationGenerator.cs
  TRRandomizerCore/Utilities/Locations/TR3LocationGenerator.cs
Labels: enhancement, TR1, TR2, TR3
